*{
    margin: 0;
    padding: 0;
    height: 900px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 592px;
    height: 592px;
    border: 2px solid #333;
}

.square{
    height: 37px;
    width: 37px;
}

.newPageBtn {
    margin-top: 100px;
    margin-bottom: 20px;
    padding: 5px 8px 5px 8px;
    font-size: 14px;
    height: 50px;
    width: 100px;
    cursor: pointer;
    background-color: #FF8C61;
    border: 2px solid #985277;
    border-radius: 1rem;
}

.resetPageBtn {
    margin-top: 20px;
    padding: 5px 8px 5px 8px;
    font-size: 14px;
    height: 50px;
    width: 100px;
    cursor: pointer;
    background-color: #FF8C61;
    border: 2px solid #985277;
    border-radius: 1rem;
}

